.palette {
  height: 100vh;
  display: flex; 
  overflow: hidden;
  flex-direction: column; 
  justify-content: center;
  box-sizing: border-box; 

}

.palette-colors {
  height: 90%;
}

.Palette-footer {
  background-color: white;
  height: 5vh;
  display: flex;
  justify-content: flex-end;
  align-items: center; 
  font-weight: bold; 
  font-size: .8rem; 
}

.emoji {
  font-size: 1rem; 
  margin: 0 1rem; 
}
